header {
    background-color: #282c34;
    min-height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: calc(10px + 2vmin);
    padding: 0 2vw;
    box-sizing: border-box;
}

header > h1 {
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.login-button {
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
}