header {
    min-height: 10vh;
    height: 56px;
    width: 100vw;
    display: flex;
    box-shadow: 0 2px 64px 0 rgba(0,0,0,.08),0 8px 30px 0 rgba(0,0,0,.05);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    padding: 0 2vw;
    box-sizing: border-box;
    align-items: center;
}

.logo-container {
    height: 100%;
}

.logo-container > img {
    padding-top: 5px;
    box-sizing: border-box;
    height: 100%;
    width: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.login-button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: #fff;
}
.login-button img {
    height: 1em;
    width: 1em;
}

.right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart {
    height: 50px;
    width: 50px;
    background: inherit;
    /* background-color: inherit; */
}